@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}


.plans > div {
    border-radius: 12px;
}

.plans > div:nth-of-type(2){
    background-color: #FF7143;
    color: white;
    height:473px;
    margin-top: -1.5vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.plans > div:nth-of-type(2) > h3 {
    color: #fff;
}

.plans > div:nth-of-type(2) > p{
    color:#fff;
}

.plans > div:nth-of-type(2) > ul > li {
    color:#fff;
}

.plans > div:nth-of-type(2) > button {
    color:#fff;
    background-color: #9F3919;
}

@media screen and (max-width: 800px) {
    .nav-full{
        display:none;
    }

    .hero{
        flex-direction: column;
        margin-bottom: -20vh;
        margin-left: 4vw;
    }

    .hero-head{
        font-size: 60px;
    }

    .hero-p{
        font-size:18px;
        width: 70vw;
    }

    .light_earth{
        /* width: 100vw;
        margin-left: 0; */
        background-color: aqua;
        margin-bottom: -5vh;
    }

    .light_earth > img{
        width: 100%;
    }

    .subIndex{
        flex-direction: column;
    }

    .index-container{
        padding-left: 30vw;
        margin-left: 10vw;
    }

    .index-container > h2{
        font-size: 45px;
    }

    .index-container > p{
        width: 70vw;
    }
    
}